#main-heading {
  background-color: black;
  color: white;
  text-align: center;
  height: 50px;
  padding-top: 15px;
  margin: 5px;
  word-spacing: 5px;
  font-family: monospace;
  font-size: xx-large;
}

#h2 {
  background-color: black;
  color: white;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 30px;
}

#main-body {
  background-color: gainsboro;
}

#navbar {
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
}

#navbar li {
  list-style-type: none;
  color: black;
  display: inline;
  font-size: 18px;
  padding-right: 15px;
}

.form-group {
  padding-bottom: 12px;
}

.l1 {
  display: table-caption;
  list-style: circle;
}

input {
  width: fit-content;
}

.iframe {
  width: 550px;
  height: 400px;
}

#footer {
  background-color: black;
  color: white;
  text-align: center;
  word-spacing: 3px;
  letter-spacing: 2.5px;
}